body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  color: #000000;
  text-align: center;
}

section {
  padding: 70px 20px;
}

.hero h1 {
  font-size: 60px;
}
.hero h2 {
  font-size: 38px;
}

button {
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: #ff4d6d;
  color: rgb(4, 2, 2);
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #ff1f4b;
}

.letter p {
  font-size: 28px;
  max-width: 850px;
  margin: auto;
}

.photos img {
  width: 220px;
  border-radius: 20px;
  margin: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.25);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  font-size: 22px;
}

.final h2 {
  font-size: 50px;
}
.final h3 {
  font-size: 34px;
}

footer {
  background: rgba(0,0,0,0.25);
  padding: 20px;
}
#lockScreen {
  position: fixed;
  inset: 0;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#lockScreen input {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
.emoji {
  position: fixed;
  font-size: 28px;
  animation: flyUp 3s linear forwards;
  pointer-events: none;
}

@keyframes flyUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px) scale(1.5);
    opacity: 0;
  }
}
